.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-color: #0a0a0a;
  color: #ededed;
}

.postContainer{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.post{
  width: 300px;
  min-height: 250px;
  overflow: hidden;
  background-color: #1d1d1d;
  border-radius: 8px;
  border: #202020 solid 1px;
}

.post:hover{
  background-color: #2d2d2d;
  border: #303030 solid 1px;
}

.post h2{
  font-size: 20px;
  margin: 0;
  padding: 16px;
}

.post p{
  font-size: 14px;
  margin: 0;
  padding: 16px;
}